@import "../../styles/variables";

#about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 4rem;

	&-title {
		font-size: 3rem;
		margin: 0;
	}

	&-infernal {
		a {
			color: $accentSecondaryDark;
			text-decoration: none;
			font-weight: bold;
		}
	}

	&-members {
		font-size: 2rem;
		margin-left: 2rem;
	}

	&-desc {
		&-1,
		&-2 {
			font-size: 2rem;
		}
	}
}