@import "../../styles/variables";

#about {
	height: 75vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h1 {
		font-size: 3rem;
		margin: 0;
	}

	p{
		margin-left:3rem;
		margin-right: 3rem;
	}

	ul{
		margin: 0;
		padding: 0;
	}

	b{
		color:$accentSecondaryDark;
	}
}