$light: #f8f8ff;
$lightish: darken($light, 10%);
$dark: #0d0d0d;
$darkish: lighten($dark, 10%);

$accentPrimaryMain: #2f01e7;
$accentPrimaryLight: #3401fe;
$accentPrimaryDark: #1f0198;
$accentSecondaryMain: #ebb804;
$accentSecondaryLight: #fbcd27;
$accentSecondaryDark: #ec9d04;

$textDark: lighten($dark, 10%);