@import "../../styles/variables.scss";

#navbar {
	background-color: $accentPrimaryMain;
	color: $light;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	cursor: default;

	&-title h1 {
		margin: 0;
		padding: 1rem 1rem 1rem 4rem;
		font-size: 3rem;
		
		a {
			text-decoration: none;
			color: inherit;
		}
	}

	&-menu {
		padding: 1rem;
		font-size: 3rem;
		transition: all 150ms ease-in-out;

		&:hover {
			cursor: pointer;
			color: $accentSecondaryMain;
		}
	}

	@media screen and (max-width: $mobilemax) {
		justify-content: flex-end;

		&-title {
			display: none;
		}
	}
}