@import "../../styles/variables";

#footer {
	background-color: $dark;
	padding: 0 4rem 4rem 4rem;
	color: $light;

	.footer-separator {
		margin: 2rem 0;
		background-color: $darkish;
		height: 2px;
	}

	&-title {
		h1 {
			margin: 0;
			padding-top: 4rem;
			font-size: 3rem;
		}
	}

	&-links {
		display: flex;
		justify-content: space-between;

		#footer-contact {
			&-title {
				h2 {
					margin: 0;
					padding-bottom: 2rem;
					font-size: 2rem;
				}
			}
	
			&-links {
				display: flex;
				gap: 1rem;
				font-size: 2rem;
	
				.icon-social {
					transition: color 150ms ease-in-out;
	
					& a {
						color: inherit;
					}
	
					&:hover {
						color: $accentSecondaryMain;
					}
				}
			}
		}
	}


	&-rights {
		font-size: 1.5rem;

		&-text {
			display: flex;
			justify-content: space-between;

			& p {
				margin: 0;
				
				& span {
					&:not(:last-child)::after {
						content: " — ";
					}

					a {
						text-decoration: none;
						color: inherit;

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}

	@media screen and (max-width: $mobilemax) {
		padding: 2rem;

		&-title {
			h1 {
				padding: 0;
				font-size: 2rem;
				text-align: center;
			}
		}

		&-links {
			#footer-contact {
				width: 100%;
				&-title {
					h2 {
						text-align: center;
					}
				}

				&-links {
					justify-content: center;
				}
			}
		}

		&-rights {
			&-text {
				flex-direction: column;
				font-size: 1rem;
			}
		}
	}
}