@import "../../styles/variables";

main {
	padding: 0 !important;
}

#homepage {
	color: $textDark;

	#section {
		&-1 {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 90vh;
	
			h1 {
				margin: 1rem;
				font-size: 5rem;
			}
	
			p {
				margin: 1rem;
				font-size: 2rem;
			}
		}

		&-2 {
			padding: 4rem;
			display: flex;
			flex-direction: row;
			gap: 8rem;
			background-color: $dark;
			color: $light;

			p {
				margin: 0;
				font-size: 2rem;
			}

			&-text {
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				&-reco {
					text-align: right;
				}
			}

			img {
				border-radius: 2rem;
			}
		}

		&-3 {
			padding: 4rem;
			display: flex;
			justify-content: center;
			align-items: center;

			&-carousel {
				display: flex;
				flex-direction: column;

				&-buttons {
					margin-top: 2rem;
					display: flex;
					flex-direction: row;
					gap: 2rem;
					justify-content: center;

					> div {
						height: 1rem;
						width: 5rem;
						background-color: $accentSecondaryMain;
						cursor: pointer;
					}
				}
			}
		}

		&-4 {
			padding: 4rem 15rem;
			display: flex;
			flex-direction: column;
			gap: 4rem;

			&-students,
			&-pros,
			&-partners {
				font-size: 3rem;

				& h3 {
					margin: 0;
				}

				.section-4-details {
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					gap: 4rem;
	
					& i {
						font-size: 10rem;
						padding: 0 5rem;
					}
				}

				&:nth-child(2n) {
					.section-4-details {
						flex-direction: row-reverse;
					}

					h3 {
						text-align: right;
					}
				}
			}

		}
	}
}